@charset "utf-8";
.loadingimg{
	position: absolute;
	width:48px;
	height:48px;
	left:50%;
	top:50%;
	margin-left:-24px;
	margin-top:-24px;
}
#contents{
	position: absolute;
	left:50%;
	top:50%;
	width:10px;
	height:10px;
}
.tomatomen{
	position: absolute;
	opacity:0;
	margin-left:180px;
	margin-top:-300px;
}
p{
	margin-top:8px;
	margin-bottom:8px;
}
.face{
	position: absolute;
	background-image: url("../img/fukidashi.png");
	background-repeat:no-repeat;
	width:991px;
	height:838px;
	margin-left:-600px;
	margin-top:-500px;
	text-align:center;
}
.fukicont{
	font-size:18px;
	font-weight:bold;
	width:480px;
	height:800px;
	margin-top:250px;
	margin-left:auto;
	margin-right:auto;
}
.cont{
	margin:0 auto;
}
.cont1{
	margin-top:15px;
}
.cont2{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	margin-top:15px;
}
/*フォント*/
.font1{
	font-size:18px;
	font-weight:bold;
	color:#3a7d08;
}
.font2{
	font-size:18px;
	font-weight:bold;
	color:#0c8de5;
}
.font_critics{
	font-size:14px;
	font-weight:bold;
	color:#0c8de5;
}
.font3{
	font-size:18px;
	font-weight:bold;
	color:#f41414;
}
.font4{
	font-size:14px;
}
.font5{
	font-weight:bold;
	color:#f41414;
}
.font7{
	
	font-weight:bold;
	color:#90d720;
}
.font6{
	font-weight:bold;
	color:#ddd;	
}
.font8{
	font-size:40px;
	color:#000;
}
.m_all{
	font-size:14px;
}
.radirect{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.facebookbtn{
	margin-top:20px;
}
.nextbtn{
	margin-top:20px;
}
.box{
	margin:2px;
	padding:2px;
	border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius: 8px;	
}
.last_btn{
	margin-top:35px;
}