@charset "utf-8";

html,body{
	height: 100%;
	min-height: 100%;
	width:100%;
	min-width:100%;
}
body{
	background-image: url("../img/back_pattern.gif");
	padding:0;
	margin:0;
	overflow: hidden;
}

/*フレーム設定*/
#frame_right{
	position:absolute;
	z-index: 10000;
	right:0;
	width:20px;
	height:100%;
	min-height: 100%;
	background-color: #FFFFFF;
}
#frame_left{
	position:absolute;
	z-index: 10000;
	left:0;
	width:20px;
	height:100%;
	min-height: 100%;
	background-color: #FFFFFF;
}
#frame_bottom{
	position:absolute;
	z-index: 10000;
	bottom:0;
	width:100%;
	height:20px;
	min-width: 100%;
	background-color: #FFFFFF;
}
#frame_top{
	position:absolute;
	z-index: 10000;
	width:100%;
	height:20px;
	min-width: 100%;
	background-color: #FFFFFF;
}

/*タイトル*/
#top_title{
	position: absolute;
	width:550px;
	height:380px;
	left:50%;
	top:50%;
	margin-left:-270px;
	margin-top:-180px;
}
#canvas_mask{
	z-index:5000;
	position: absolute;
}
#tomato_face{
	position: absolute;
}
.circle{
	position: absolute;
}
.t{
	position:absolute;
}
.rt_f_title{
	margin-left:108px;
	margin-top:18px;
	position:absolute;
}
.font0{
	font-size:13px;
	color:#333;
	text-align: center;
}
.title_des{
	margin-top:20px;
}
.login_btn{
	margin-top:20px;
	margin-left:150px;
}
#titobj{
	position: absolute;
}
#titobj2{
	position: absolute;
	margin-top:190px;
}

