body{
	margin:0;
	width:100%;
	height:100%;
	background-image:url("../img/background_pat.gif");
	background-repeat:repeat-x;
}
#wrapper{
	width:960px;
	margin:0 auto;
}
#loading{
	width: 48px;
	position: absolute;
	top:50%;
	margin-top:-24px;
	margin-left:-24px;
	left:50%;
}
p{
	font-family: 'Herr Von Muellerhoff', cursive;
	padding:0;
	margin-top:5px;
	font-size:24px;
	color:#777;
}
